
<% content_for :head do -%>

	<%= javascript_include_tag :ckeditor %>
<% end -%>

<% form_for(@blog_post, :html => { :multipart => true }) do |f| %>
	<% if BlogKit.instance.settings['use_markdown'] == false && BlogKit.instance.settings['html_editor'] == true %>
		<script type="text/javascript" src="http://js.nicedit.com/nicEdit-latest.js"></script>
		<script type="text/javascript">
		bkLib.onDomLoaded(function() {
			nicEditors.allTextAreas();
			BLOG_EDITOR = nicEditors.findEditor('blog_post_body');
		});
		</script>
	<% end %>

	<div class="editBlogPost">
		<div class="blogEditLeftPanel">
			<% if @blog_post.errors.size > 0 %>
				<div id="errorExplanation">
					<h2>The blog post could not be saved:</h2>
					<ul>
						<% @blog_post.errors.full_messages.each do |msg| %>
							<li><%= msg %></li>
						<% end %>
					</ul>
				</div>
			<% end %>
			<p>
				<%= f.label :title %><br />
				<%= f.text_field :title, :class => 'field'  %>
			</p>
			<p>
				<%= f.label :body %><br />
		    <%= ckeditor_textarea("blog_post", "body", :width => '100%', :height => '600px') %>
			</p>
			<p>
				<%= f.label :tags, 'Tags (comma seperated)' %><br />
				<%= f.text_field :tags, :class => 'field'  %>
			</p>
			<p>
				<%= f.label :published, 'Status' %><br />
				<%= f.radio_button :published, false %><%= f.label :published_false, 'Draft' %>
				<%= f.radio_button :published, true %><%= f.label :published_true, 'Publish' %>
			</p>
			<p>
				<%= f.submit 'Save' %> or <%= link_to 'Back', blog_posts_path %>
			</p>
		</div>
<<<<<<< HEAD:app/views/blog_posts/_form.html.erb
		<% content_for :left do -%>
			<div class="blogEditRightPanel">
				rightPanel
			</div>
		<% end -%>
		
=======
		<div class="blogEditRightPanel">
			rightPanel
		</div>
		<br style="clear: both;" />
>>>>>>> af701d849098ce364c98b81f4e724425fab3713f:app/views/blog_posts/_form.html.erb
	</div>
<% end %>
